<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Home Page</title>
</head>
<body>
    <h1>This is the Home Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam modi illum, perspiciatis quisquam vel id vitae quam dolores numquam delectus incidunt repudiandae enim at, rerum neque! Ab consequatur hic voluptates.
    Soluta tenetur quam perspiciatis sit ad quibusdam provident debitis illo repellendus! Distinctio, minus nesciunt praesentium nobis sed reiciendis corrupti nulla vero asperiores eveniet quidem nam quos molestias quaerat, iure officia.
    Dolorum sapiente porro harum, reiciendis neque molestias minus commodi delectus esse rem natus ipsum aperiam quam ducimus fuga velit sequi fugiat assumenda maxime tenetur architecto necessitatibus animi voluptatum provident. Ea?
    Accusantium, dolor quis eligendi architecto similique minima iusto consequuntur aut excepturi sapiente nisi labore at cupiditate fugit enim expedita numquam. Itaque magni velit ex possimus consequuntur saepe in, doloribus placeat.
    Rerum quaerat sapiente, expedita saepe aut eligendi neque architecto eius? Soluta ullam
    Et error sint eveniet, architecto tempora aliquid animi explicabo, voluptatibus a repellendus ipsam minus blanditiis iste molestiae quas! Nulla quas enim corrupti veniam ab adipisci dolorem aperiam eos, cumque sapiente.</p>
    <button>click me!</button>

    <%- include("includes/footer.ejs") %>
</body>
</html>