body{
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
}

div{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin-top: 20px;
    /* text-align: center; */
    margin: auto;
}
